# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
venv/
env/
.venv/

# IDE
.idea/

# Datasets (large files)
datasets/

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints/
